# Avoid git related files
.gitignore
.gitkeep
.git/

# Avoid environment files
.env

# Avoid attached docker files
Dockerfile
docker-compose.yaml
.dockerignore


#
test_chat.sh


# Avoid attach build forlder with operational scripts
./commands

# Avoid attached documentation
./DOCS
*.md
LICENSE

# Avoid attached responses
./responses

#
./target

